*{
	box-sizing: border-box;
}
.wrapper {
    height: 100vh;
    display:flex;
    flex-direction: column;
}
.header{
    padding: 0px;
    background-color: black;
}
.main {
   display: block;
   float: auto;
   margin: 5px 0;
}
.sidebar-left,
.sidebar-right {
  width: 250px;
  padding: 10px;
  background-color: #efefef;
  visibility: hidden;
}

.text{
  font-family: 'Quicksand', sans-serif;
  font-size: 18px;
  margin: 20px 200px;
  margin-bottom: 20px;
}
h1{
	padding-left: 30px;
  margin: 5px;
  font-size: 40px;
	font-family: 'Lobster', sans-serif;
	color: red;
	float: left;
  display: inline-block;
}
h3 {
  font-family: 'Lobster', sans-serif;
  font-size: 26px;
  margin: 20px 200px;
  padding-bottom: 20px;
  color: red;
}
.subnavigation{
	background-color: #a7a7a7;
	padding: 10px 50px;
	font-family: 'Quicksand', sans-serif;
    color: #ffffff;
    font-size: 20px;
    text-transform: uppercase;
    border-bottom-style: solid;
    border-color: black;
    border-width: 1px;
}
.footer-navi{
	background-color: #a7a7a7;
	padding: 10px 50px;
	font-family: 'Quicksand', sans-serif;
  color: #ffffff;
  font-size: 14px;
  text-transform: uppercase;
}
.navigation ul {
   display: flex;
   float:right;
   text-indent: 50px;
   margin: 0;
   padding: 0 10px;
   list-style-type: none;
}
.zentrum {
   display: flex;
   align-items: center;
   justify-content: center;
   height: 50px;
}

a:link {
    color: white;
    text-decoration: none;
}

a:visited {
    color: white;
    text-decoration: none;
}

a:hover {
    color: black;
    background-color: white;
    text-decoration: none;
}

a:active {
    color: red;
    text-decoration: none;
}
a.intext-link:link {
  font-family: 'Quicksand';
  font-size: 18px;
  color: red;
}
a.intext-link:visited {
  font-family: 'Quicksand';
  font-size: 18px;
  color: red;
}
a.intext-link:hover {
  font-family: 'Quicksand';
  font-size: 18px;
  color: grey;
}
.footer {
    position: fixed;
    bottom: 0;
    right: 0;
    border-top-style: solid;
    border-bottom-style: solid;
    border-color: black;
    border-width: 1px;
    padding: 0px;
    background-color: black;
    width: 100%; 
    height: auto; 
}

